/* progress bar container */
#progressbar{
        border:1px solid white;
        width:220px;
        height:16px;
        position:relative;
        color:white; 
        font-size:14px;
}
/* color bar */
#progressbar div.progress{
        position:absolute;
        width:0;
        height:100%;
        overflow:hidden;
        background-color:yellow;
}
/* text on bar */
#progressbar div.progress .text{
        position:absolute;
        text-align:center;
        color:black;
}
/* text off bar */
#progressbar div.text{
        position:absolute;
        width:100%;
        height:100%;
        text-align:center;
}